<% unless comment.user_id.nil? %>
  <%= turbo_frame_tag dom_id(comment) do %>
    <div class="card mb-2">
      <div class="card-body">
        <%= simple_format comment.body %>
        <%= date_str(comment.created_at) %> by <%= comment.user.name %>
      </div>
    </div>
  <% end %>
<% end %>
